/* Nest 🏡 Cyberpunk Style */


* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}



body {

    margin:0;

    min-height:100vh;

    background:#050505;

    color:white;

}





.app {

    width:100%;

    max-width:450px;

    margin:auto;

    min-height:100vh;

    padding:20px;

}







.logo {

    text-align:center;

    margin-top:40px;

}



.logo h1 {

    font-size:42px;

    letter-spacing:5px;

}



.logo p {

    color:#00ffff;

}







header {

    text-align:center;

    margin-bottom:25px;

}



header h1 {

    letter-spacing:4px;

}







.card {

    background:#0d0d0d;

    border:1px solid #222;

    border-radius:18px;

    padding:20px;

    margin-bottom:20px;

}







input,
select {


    width:100%;

    padding:15px;

    margin-top:12px;

    background:#050505;

    border:1px solid #333;

    border-radius:12px;

    color:white;

    font-size:16px;

}







button {


    width:100%;

    padding:15px;

    margin-top:15px;

    border:none;

    border-radius:12px;

    background:#00ffff;

    color:black;

    font-weight:bold;

    font-size:16px;

    cursor:pointer;

}





button:active {

    transform:scale(.98);

}







.secondary {

    background:#111;

    color:white;

    border:1px solid #00ffff;

}







#message {

    text-align:center;

    color:#00ffff;

}







/* Pages */


.page {

    display:none;

}


.page.active {

    display:block;

}







/* Bills */


.bill {


    background:#0d0d0d;

    border:1px solid #222;

    border-radius:15px;

    padding:15px;

    margin-top:15px;


}



.bill h3 {

    margin-top:0;

}



.bill button {

    margin-top:10px;

}







.hidden {

    display:none;

}








/* Bottom Navigation */


nav {


    position:fixed;

    bottom:15px;

    left:50%;

    transform:translateX(-50%);

    width:90%;

    max-width:400px;

    display:flex;

    gap:10px;

    background:#0d0d0d;

    padding:10px;

    border-radius:20px;

    border:1px solid #222;


}



nav button {


    flex:1;

    background:#111;

    color:white;

    margin:0;

    padding:12px;

}








@media(max-width:500px){


.app{

padding:15px;

}


.logo h1{

font-size:34px;

}


}